<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand">Segundo parcial</a> 
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="adminHome">Admin</a>
        </li>
      </ul>    
    </div>       
    <div class="form-inline">
      <button *ngIf="usuarioLogueado" class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="salir()">Salir</button>
      <button *appUsuarioLogueado="usuarioLogueado" class="btn btn-outline-success my-2 my-sm-0" type="button">{{usuario}}</button>
    </div>
</nav>

