<div class="col-sm">
      <h1 class="text-center">Lista de vendedores</h1>
      <div *ngIf="vendedoresList!=null" class="row row-cols-1 row-cols-md-3 mb-3 text-center">        
        <div class="col" *ngFor="let item of vendedoresList">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">{{item.email}}</h4>
            </div>
            <img [src]="item.imagen" width="100%" height="225" class="card-img-top" alt="...">
            <div class="card-body">
              <h1 class="card-title pricing-card-title">texto prueba<small class="text-muted fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li *ngIf="item.habilitado">Habilitado</li>
                <li *ngIf="!item.habilitado">DesHabilitado</li>
              </ul>
              <button type="button" class="btn btn-outline-primary" (click)="habilitarDeshabilitar(item,true)">Habilitar</button>
              <button type="button" class="btn btn-outline-primary" (click)="habilitarDeshabilitar(item,false)">DesHablitar</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  