<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">          
        <div class="col-md-4">
            <h1 class="text-center">Seleccionar Moneda</h1>
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/vendedor/seleccionarMoneda">Ir a las Cripto</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h1 class="text-center">Monedas asignadas</h1>
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/vendedor/monedasAsignadas">Ir a mis monedas</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        
        <div class="col-md-4">
          <h1 class="text-center">Listar Usuarios</h1>
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/administrador/listarUsuarios">Ir a listar usuarios</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
