<body>
  <div class="container ">
    <div class="row">
      <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="login-title text-center">
          <h2><span>Parcial Dos<strong>Angular</strong></span></h2>
        </div>
        <div class="login-content">
          <div class="login-header ">
            <h3><strong>Welcome,</strong></h3>
            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quam numquam</h5>
          </div>
          <div class="login-body">
            <div class="login-form">
              <form [formGroup]="formLogin">
                <div class="form-group ">
                  <div class="pos-r">
                    <input id="form-username" type="text" name="form-username" placeholder="ejemplo@ejemplo.com"
                      class="form-username form-control" formControlName="email">
                    <i class="fa fa-user"></i>
                    <span></span>
                    <div
                      *ngIf="formLogin.get('email')!.invalid && (formLogin.get('email')!.dirty || formLogin.get('email')!.touched)"
                      class="alert-danger d-inline-flex"><span>email requerido</span></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="pos-r">
                    <input id="form-password" type="password" name="form-password" placeholder="Contraseña..."
                      class="form-password form-control" formControlName="contraseña">
                    <i class="fa fa-lock"></i>
                    <span></span>
                    <div
                      *ngIf="formLogin.get('contraseña')!.invalid && (formLogin.get('contraseña')!.dirty || formLogin.get('contraseña')!.touched)"
                      class="alert-danger d-inline-flex"><span>contraseña requerida</span></div>
                  </div>
                </div>

                <div class="form-group" style="margin-top: 10px;">
                  <button type="button" class="btn btn-warning form-control"
                    (click)="ingresar()"><strong>Ingresar</strong></button>
                </div>
              </form>
            </div>
          </div> <!-- end  login-body -->
        </div><!-- end  login-content -->
        <div class="login-footer text-center template">
                    <h5>No tienes una cuenta?<a routerLink="registrar" class="bold"> Registrarse </a>     </h5>
                     <!-- <h5>Bootstrap login template made by <a href="https://github.com/azouaoui-med" class="bold"> Mohamed Azouaoui</a></h5>                    -->
                </div>
      </div> <!-- end  login-container -->

    </div>
  </div><!-- end container -->

</body>
<!-- Floating Action Button like Google Material -->
<div class="menu pmd-floating-action" role="navigation">
  <a href="javascript:void(0);"
    class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
    data-title="Supervisor Account">
    <span class="pmd-floating-hidden">Supervisor Account</span>
    <i class="material-icons">supervisor_account</i>
  </a>
  <a href="javascript:void(0);"
    class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
    data-title="Cloud Queue">
    <span class="pmd-floating-hidden">Cloud Queue</span>
    <i class="material-icons">cloud_queue</i>
  </a>
  <a href="javascript:void(0);"
    class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
    data-title="Headset">
    <span class="pmd-floating-hidden">Headset</span>
    <i class="material-icons">headset</i>
  </a>
  <a href="javascript:void(0);"
    class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
    data-title="Dialpad">
    <span class="pmd-floating-hidden">Dialpad</span>
    <i class="material-icons">dialpad</i>
  </a>
  <a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Add"
    href="javascript:void(0);">
    <span class="pmd-floating-hidden">Primary</span>
    <i class="fas fa-plus">add</i>
  </a>
</div>
