<p class="text-center" style="margin-top: 10px;">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
      aria-controls="multiCollapseExample1">Ver materias</a>
    <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2"
      aria-expanded="false" aria-controls="multiCollapseExample2">Oculta/ver alumnos</button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse"
      aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Oculta/ver todo</button> -->
  </p>

  <app-listar-materias (enviarMateria)="procesarMateria($event)" [arrayIdAlumnos]="alumnosFinal"></app-listar-materias>
